<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="" alt="Exercice 1">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">Le hochement de la tête 🙇‍♂️</div>
      </div>
      <pre class="rectangle-text">
        Hocher la tête de haut en bas, comme si vous disiez oui ou non 👍👎.
        Cet exercice détend le cou et la mâchoire 😌. Il soulage aussi le stress 😊.
        Faites-le pendant 10 minutes, avec des pauses de 30 secondes.
        Pour plus de challenge, faites des mouvements plus amples ou plus rapides 🚀.
        Échauffez-vous bien avant et étirez-vous après 🙆‍♂️.

        Conseil : Reculez de la caméra et gardez votre tête parallèle à l’écran. Ne sortez pas de l’écran.

        Bonne séance ! 😊
      </pre>
    </div>
    <div class="button-container">
      <a routerLink="/ex/eat" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
