<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="assets/fruit_logo.png" alt="Salade de fruit">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">Salade de fruit 🥝</div>
      </div>
      <pre class="rectangle-text">
        <br>
        <span class="title">Controles: </span> Bouche
        <br>
        <span class="title">Duree: </span> 30 secondes
        <br>
        <span class="title">Regles: </span> Mangez le plus de fruits !
        <br>
        <span class="title">Camera: </span> Veillez à ce que la caméra voie l'intégralité de votre corps.
   <br>   <br>
        Bonne séance !
      </pre>
    </div>
    <div class="button-container">
      <a routerLink="/ex/eat" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
