$color-white: #ffffff;
$color-dark: #212121;
$color-grey: #cccccc;
$color-red: #f7452f;

.footer {
  .bottom-nav {
    display: flex;
    // position: fixed;
    bottom: 5vh;
    padding: 2vh 0;
    // margin-left: 4vh;
    // margin-right: 4vh;
    border-radius: 2vh;
    z-index: 99;
    // box-shadow: 0 -2px 3px -2px $color-dark;
    justify-content: space-around;
    background-color: $color-white;

    img {
      scale: 2;
    }

    .active {
      border: medium dashed var(--main-color);
    }
  }
}
