$color-white: #ffffff;
$color-dark: #212121;
$color-grey: #cccccc;
$color-red: #f7452f;

.footer {
  .bottom-nav {
    display: flex;
    position: fixed;
    bottom: 5vh;
    left: 0;
    right: 0;
    padding: 0.8rem 0;
    z-index: 99;
    box-shadow: 0 -2px 3px -2px $color-grey;
    justify-content: space-around;

    .active {
      color: $color-red;
    }

    img {
      scale: 4;
    }
  }
}
