$color-white: #ffffff;
$color-dark: #212121;
$color-grey: #cccccc;
$color-red: #f7452f;

#footer {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  .bottom-nav {
    display: flex;
    padding: 2vh 0;
    border-bottom-left-radius: calc(var(--border-radius) - var(--border-offset));
    border-bottom-right-radius: calc(var(--border-radius) - var(--border-offset));
    justify-content: space-around;
    background-color: $color-white;
    width: var(--content-width);
    img {
      scale: 2;
    }

    .active {
      border: medium dashed var(--main-color);
    }
  }
}
