<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="" alt="Exercice 1">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">Knee game</div>
      </div>
      <div class="rectangle-text">desc</div>
    </div>
    <div class="button-container">
      <a routerLink="/ex/knee" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
