<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="assets/logo_knee.png" alt="Saut du kangourou">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">Le saut du kangourou 🦘</div>
      </div>
      <pre class="rectangle-text">
        Sautez comme un marsupial en levant les genoux haut !
        Cet exercice renforce vos jambes, vos abdos et vos fesses, et fait travailler votre cœur 💓.
        Faites-le pendant 10 minutes, avec des pauses de 30 secondes.
        Pour plus de challenge, ajoutez des poids aux chevilles ou allez plus vite 🚀.
        Échauffez-vous bien avant et étirez-vous après 🙆‍♂️.

        Conseil : Reculez de la caméra jusqu’à ce que vos genoux soient dans les cercles bleus.

        Bonne séance ! 😊
      </pre>
    </div>
    <div class="button-container">
      <a routerLink="/ex/knee" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
