video {
  border-top-left-radius: calc(var(--border-radius) - var(--border-offset));
  border-top-right-radius: calc(var(--border-radius) - var(--border-offset));
  display: grid;
  position: relative;
  height: 80vh;
  object-fit: cover;
  width: var(--content-width);
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
}

.video-container {
  position: relative;
  height: 80vh;
  object-fit: cover;
  width: var(--content-width);
}
