<div class="class-tutorial">

    <section class="exercises">
        <img style="border-radius: 30px;" src="../../assets/squat.jpg" alt="Exercice 1">
        <div class="rectangle-container">
        <div class="rectangle-title-container">
            <div class="rectangle-title">Serie de squats explosives</div></div>
            <div class="rectangle-text">Effectuer des squats pendant 10 sec.<br>
                Réaliser correctement les mouvements afin d'éviter les<br>blessures.<br>
                Eviter les roquettes.<br><br>
                Bon courage !
            </div>
          </div>
        <a routerLink="/ex/squat" style="text-decoration: none;">
            <div class="button-container"><div class="rectangle-title">C'est parti !</div></div>
        </a>
    </section>
</div>
