<div class="profil">

    <section class="exercises">
        <div class="rectangle-container">
        <div class="rectangle-title-container">
            <div class="rectangle-title" > 
                <img style="border-radius: 70px; padding-right: 50px;" height=85px src="assets/Icon.png">
                Jo Nempa
                <img style="height: 15%; width: 15%;" src="assets/user.png" alt="user"/>
            </div>
        </div>
        <div class="rectangle-text">
            <br>SUCCESS<br>
            <ul id="achievement-list">
                <li class="achievement-item">
                    <img class="achievement-image" height="5%" width="5%" src="assets/accept.png" alt="Achievement Image">
                    Log on 3 days in a row
                </li>
                <li class="achievement-item">
                    <img class="achievement-image" height="5%" width="5%" src="assets/accept.png" alt="Achievement Image">
                    End a complete session
                </li>
                <li class="achievement-item">
                    <img class="achievement-image" height="5%" width="5%" src="assets/accept.png" alt="Achievement Image">
                    Invite friends to play
                </li>
            </ul>
        </div>
      </div>
    </section>
</div>
