<div class="profil">

    <section class="exercises">
        <div class="rectangle-container">
        <div class="rectangle-title-container">
            <div class="rectangle-title" > 
            <img style="border-radius: 70px; padding-right: 50px;" height=85px src="assets/Icon.png" alt="Exercice 1 ">
            Jo Nempa</div></div>
            <div class="rectangle-text"><br>
                Succès : 0/3<br>
                kinesitherapeutes : Mr TOTO<br>
            </div>
          </div>

          <!-- Button to show/hide the overlay -->
    </section>
</div>
