<div class="profil">

    <section class="exercises">
        <div class="rectangle-container">
        <div class="rectangle-title-container">
            <div class="rectangle-title" > 
                <img style="border-radius: 70px; padding-right: 50px;" height=85px src="assets/Icon.png">
                Jo Nempa
                <img style="height: 15%; width: 15%;" src="assets/user.png" alt="user"/>
            </div>
        </div>
        <div class="rectangle-text">
            SUCCESS
            <br>
            <img class="achievement-image" height="2%" width="2%" src="assets/accept.png" alt="Achievement Image">
            Log on 3 days in a row
        </div>
      </div>
    </section>
</div>
