.stats {
  background-color: var(--third-color);
  height: 100%;
  width: var(--content-width);
  border-bottom-left-radius: calc(var(--border-radius) - var(--border-offset));
  border-bottom-right-radius: calc(var(--border-radius) - var(--border-offset));
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  font-size: 50px;
  font-weight: 400;
}
