<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="assets/logo_gesture.png" alt="La danse des doigs">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">La danse des doigts 🕺</div>
      </div>
      <pre class="rectangle-text">
        Faites bouger vos doigts en rythme avec la musique, comme si vous jouiez du piano ou de la guitare 🎹🎸.
        Cet exercice permet de mobiliser les articulations des doigts et de renforcer les muscles des épaules 💪.
        Il stimule aussi la coordination et la créativité 🧠.
        Faites-le pendant 15 minutes, en changeant de musique toutes les 5 minutes. 2
        Pour plus de challenge, faites des mouvements plus rapides ou plus complexes 🚀.
        Échauffez-vous bien avant et étirez-vous après 🙆‍♀️.

        Conseil : Reculez de la caméra et utilisez votre main à rééduquer. Mettez l’autre dans le dos.

        Bonne séance !
      </pre>
    </div>
    <div class="button-container">
      <a routerLink="/ex/squat" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
