<div class="class-tutorial">

  <section class="exercises">
    <img style="border-radius: 30px;" src="assets/logo_gesture.png" alt="La danse des doigs">
    <div class="rectangle-container">
      <div class="rectangle-title-container">
        <div class="rectangle-title">Montre le moi !</div>
      </div>
      <pre class="rectangle-text">
        <br>
        <span class="title">Controles: </span> Index, majeur
        <br>
        <span class="title">Duree: </span> 30 secondes
        <br>
        <span class="title">Regles: </span> Détruisez le plus de boules rouges et oranges. Attention, vous devez utiliser vos deux doigts pour détruire les boules oranges !
        <br>
        <span class="title">Camera: </span> Veillez à ce que la caméra voie l'intégralité de votre corps.
   <br>   <br>
        Bonne séance !
      </pre>
    </div>
    <div class="button-container">
      <a routerLink="/ex/squat" style="text-decoration: none;">
        <div class="rectangle-title">C'est parti !</div>
      </a>
    </div>
  </section>
</div>
