<div class="class-home">
    <header>
        <div class="rectangle">
        <div class="header-content">
            <img style="border-radius: 70px; padding-right: 50px;" height=85px src="assets/Icon.png" alt="Exercice 1 ">
            <h2>Bienvenue sur KinéMotion</h2>
        </div>
    </div>
    </header>
    <!-- <div class="search-bar">
        <img src="assets/searching-bar.png" alt="Rechercher">
    </div> -->
  <div class="ex-content">
    <h2 class="ex">Motricité</h2>
    <section class="exercises">
      <app-card [name]="'Agilite'" [url]="'/tutorial/gesture'" [imageUrl]="'assets/squat.jpg'"></app-card>
      <app-card [name]="'Planche du'" [url]="'/tutorial'" [imageUrl]="'assets/plane.jpg'"></app-card>
      <app-card [name]="'Squats explosifs'" [url]="'/tutorial'" [imageUrl]="'assets/squat.jpg'"></app-card>
    </section>

    <h2 class="ex">Agilité</h2>
    <section class="exercises">
      <app-card [name]="'Monté de genoux'" [url]="'/tutorial/knee'" [imageUrl]="'assets/squat.jpg'"></app-card>
      <app-card [name]="'Planche du'" [url]="'/tutorial'" [imageUrl]="'assets/plane.jpg'"></app-card>
      <app-card [name]="'Planche du'" [url]="'/tutorial'" [imageUrl]="'assets/plane.jpg'"></app-card>
    </section>
  </div>

</div>
