<div class="class-home">
    <header>
        <div class="rectangle">
        <div class="header-content">
            <img style="border-radius: 70px; padding-right: 50px;" height=85px src="assets/Icon.png" alt="Exercice 1 ">
            <h2>Bienvenue sur KinéMotion</h2>
        </div>
    </div>
    </header>
    <!-- <div class="search-bar">
        <img src="assets/searching-bar.png" alt="Rechercher">
    </div> -->

    <section class="exercises">
        <h2>Exercices</h2>
        <app-card [name]="'Squats explosifs'" [url]="'/tutorial'" [imageUrl]="'assets/squat.jpg'"></app-card>
        <app-card [name]="'Planche du'" [url]="'/tutorial'" [imageUrl]="'assets/plane.jpg'"></app-card>
    </section>
</div>
